<h1>Hi</h1>


<ul>
{% for post in frontpagelist %}
  {% set currentPost = post.data.post %}

  <li>{{ post.data.title }}</li>

  {% if currentPost.mainImage %}
    <img src="{% croppedUrlFor currentPost.mainImage, 600, 600 %}" alt="{{ currentPost.mainImage.alt }}">
  {% endif %}

  <h2>
    <a href="{{ post.url | url }}" class="postlist-link">
        {% if currentPost.title %}
            {{ currentPost.title }}
        {% else %}<code>{{ post.url }}</code>
        {% endif %}</a>
    </h2>

{% endfor %}
</ul>
