/* Minimal CSS for the website */

@import url("https://use.typekit.net/kyf0qzf.css");

:root {
  --main-color: #004c77;
  --accent-color: #8cedc6;
  --background-color: #fafafa;
}

html {
  font-size: 15px;
}

body {
  width: 87.5%;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  font-family: proxima-nova, sans-serif;
  background-color: var(--background-color);
  color: var(--main-color);
  max-width: 1400px;
  counter-reset: sidenote-counter;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.6em;
  letter-spacing: 0em;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 400;
  font-weight: 100;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h1.home {
  font-size: 2.1rem;
}

h2 {
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

article {
  padding: 5rem 0rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p,
ol,
ul {
  font-size: 1.4rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
  max-width: 700px;
}

blockquote {
  font-size: 1.4rem;
}

blockquote p {
  width: 55%;
  margin-right: 40px;
}

blockquote footer {
  width: 55%;
  font-size: 1.1rem;
  text-align: right;
}

section > p,
section > footer,
section > table {
  width: 55%;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > ol,
section > ul {
  width: 50%;
  -webkit-padding-start: 5%;
}

li:not(:first-child) {
  margin-top: 0.25rem;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
  color: inherit;
}
a:hover {
  text-decoration: none;
}

.postlist {
  list-style: none;
  margin-bottom: 48px;
}

.postlist-link {
  text-decoration: none;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  height: 36px;
}

.home {
  text-decoration: none;
}

.nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0em;
  text-transform: uppercase;
  line-height: 1em;
  margin-left: 6px;
  margin-right: 6px;
}

.nav-wrapper {
  max-inline-size: fit-content;
}

.nav-wrapper:hover {
  color: #fff;
  background-color: #004c77;
  border-radius: 2px;
}

nav [aria-current="page"] {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.nav-item-active {
  text-decoration: underline;
}

footer {
  width: 100%;
  margin-bottom: 5em;
}

footer p {
  margin: 0;
  line-height: 1.4;
}

.instagram-logo {
  margin-top: 24px;
}

.gallery-container {
  display: grid;
  place-content: center;
}

.gallery {
  --s: 600px; /* control the size */
  display: grid;
  width: var(--s);
  height: var(--s);
  aspect-ratio: 1;
  overflow: hidden;
  padding: calc(var(--s) / 20);
  border-radius: 50%;
  position: relative;
  clip-path: circle(49.5%); /* to avoid a few glitch cause by overflow: hidden */
}

.gallery::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: inherit;
  border-radius: inherit;
  background-color: #fafafa;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.running::after,
.running > img {
  animation: m 12s infinite cubic-bezier(0.5, -0.2, 0.5, 1.2);
}

.gallery > img {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transform-origin: 50% 151.7%;
}

.gallery > img:nth-child(2) {
  animation-delay: -2s;
} /* -1 * 12s / 6 */
.gallery > img:nth-child(3) {
  animation-delay: -4s;
} /* -2 * 12s / 6 */
.gallery > img:nth-child(4) {
  animation-delay: -6s;
} /* -3 * 12s / 6 */
.gallery > img:nth-child(5) {
  animation-delay: -8s;
} /* -4 * 12s / 6 */
.gallery > img:nth-child(6) {
  animation-delay: -10s;
} /* -5 * 12s / 6 */

@keyframes m {
  0% {
    transform: rotate(0);
  }
  16% {
    transform: rotate(-60deg);
  }
  36% {
    transform: rotate(-120deg);
  }
  52% {
    transform: rotate(-180deg);
  }
  68% {
    transform: rotate(-240deg);
  }
  68% {
    transform: rotate(-240deg);
  }
  84% {
    transform: rotate(-300deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

button {
  background-color: #8cedc6;
  border: none;
  color: #3e3f3e;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inherit;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: relative;
  top: -185px;
  left: 512px;
  font-weight: 700;
  font-size: 14px;
  place-content: center;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}

.content-container {
  display: flex;
  gap: 14px;
  flex-wrap: nowrap;
  align-items: flex-start;
}

@media screen and (max-width: 780px) {
  .content-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 620px) {
  .gallery {
    --s: 280px;
  }

  button {
    top: -104px;
    left: 230px;
    width: 60px;
    height: 60px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1500px) {
  .gallery {
    --s: 800px;
  }

  button {
    top: -236px;
    left: 706px;
    width: 80px;
    height: 80px;
  }
}
