---
layout: layouts/base.njk
templateClass: tmpl-page
---
<article>
  <h1>{{ page.title }}</h1>
  <img src="{%  imageUrlFor page.mainImage, 900  %}" alt="{{ page.mainImage.alt }}">
  {{ page.body | markdownify | safe }}
  <p><a href="{{ '/' | url }}">← Home</a></p>
</article>
