---
layout: layouts/articles.njk
tags:
  - nav
navtitle: Articles
---

<h1>Articles</h1>

{% set postslist = collections.myPosts %}
{% include "postslist.njk" %}

{# <p>More articles can be found in <a href="{{ '/articles/' | url }}">the archive</a>.</p> #}
