---
layout: layouts/home.njk
pagination:
  alias: frontPage
  data: frontPage
  size: 1
---


<article>
  <h1>{{ frontPage.title }}</h1>

  {# {% if frontPage.mainImage %}
    <figure>
      <img src="{%  imageUrlFor frontPage.mainImage, 900  %}" alt="{{ frontPage.mainImage.alt }}">
      <figcaption>{{ frontPage.mainImage.caption }}</figcaption>
    </figure>
  {% endif %} #}

  {{ frontPage.body | markdownify | safe }}

</article>
