---
layout: layouts/home.njk
pagination:
  alias: frontPage
  data: frontPage
  size: 1
---


<article>

  {# {% if frontPage.mainImage %}
    <figure>
      <img src="{%  imageUrlFor frontPage.mainImage, 900  %}" alt="{{ frontPage.mainImage.alt }}">
      <figcaption>{{ frontPage.mainImage.caption }}</figcaption>
    </figure>
  {% endif %} #}




 

  <div class="viewer-container">
    <div class="viewer-background">
       <img src="images/1.png" id="imgchange" class="cropped-image" alt="Order Order Studio interest viewer apparatus">
       </div>
  </div>

  <div class="slider-container">
    <input type="range" class="slider" min="1" max="6" value="1" aria-label="Apparatus slider control" id="myRange">
    <p>→<span id="rangevalue"></span></p>
  </div>

  {# <h1>{{ frontPage.title }}</h1> #}


  {{ frontPage.body | markdownify | safe }}

</article>

 <script> 
        let rangevalue = document.getElementById("myRange");
        let setvalue = document.getElementById("rangevalue");
        let imgchangevalue = document.getElementById("imgchange")

        rangevalue.oninput = function() {
            let getvalue = rangevalue.value;
            setvalue.innerHTML = this.value;
            if (getvalue == 2) {
                imgchangevalue.setAttribute("src", "images/2.png")
            } else if (getvalue == 3) {
                imgchangevalue.setAttribute("src", "images/3.png")
            } else if (getvalue == 4) {
                imgchangevalue.setAttribute("src", "images/4.png")
            } else if (getvalue == 5) {
                imgchangevalue.setAttribute("src", "images/5.png")
            } else if (getvalue == 6) {
                imgchangevalue.setAttribute("src", "images/6.png")
            } else if (getvalue == 1) {
                imgchangevalue.setAttribute("src", "images/1.png")
            }
        }
  </script>