---
layout: layouts/home.njk
pagination:
  alias: frontPage
  data: frontPage
  size: 1
---


<article>

<div class="gallery-container">
<div id="galleryElement" class="gallery">
       <img src="images/1.png" alt="Order Order Studio interest viewer apparatus">
       <img src="images/6.png" alt="The end plus hedghog seen buttside">
       <img src="images/5.png" alt="And everything jellyfish">
       <img src="images/4.png" alt="Visualize">
       <img src="images/3.png" alt="Systematize">
       <img src="images/2.png" alt="Science nature technology">
       <img src="images/1.png" alt="Order Order Studio interest viewer apparatus">
</div>
</div>
<button onclick="activateAnimation()"> DO PRESS ME</button>
 

  <h1>Work</h1>

  {# <h1>{{ frontPage.title }}</h1> #}

<div class="content-container">
  {# {{ frontPage.body | markdownify | safe }} #}

    <figure>
      <img src="https://cdn.sanity.io/images/9zkvur1x/production/7b140005bf5d6dc62ff83746be42b593e71f9b34-1920x1080.png?w=600" alt="Three 3d style scenarios on future climate adapations">
      <figcaption>Framtidsland, future climate scenarios <a href="https://www.framtidsland.se">(project website)</a>.</figcaption>
    </figure>

    <figure>
      <img src="https://cdn.sanity.io/images/9zkvur1x/production/6c74c13d982fc444652923463fbca0dce3633fac-4196x5966.jpg?w=600" alt="Digram of fungi taxonomy and examples poster">
      <figcaption><a href="/fungi-universe-poster/">The Fungi Universe Poster.</a></figcaption>
    </figure>

        <figure>
<img src="https://cdn.sanity.io/images/9zkvur1x/production/5dc2f1fb93f401c89c7bc66e39e05d3c5c1b660d-1200x630.jpg?w=600" alt="Baby with gene mark on cheek">
      <figcaption>Order a gene modified baby! <a href="https://orderdesignerbaby.com/">(project website)</a>.</figcaption>
    </figure>

        <figure>
<img src="https://cdn.sanity.io/images/9zkvur1x/production/7fce8373585686e7b3cf8fe1ba831f676e1b7e2b-879x1104.png?w=600" alt="Daylight graph framed on wall with plant and accessories">
      <figcaption><a href="/the-day-and-light-poster/">The Day &amp; Light Poster.</a></figcaption>
    </figure>

{# </div> #}
{# <div class="content-container"> #}

        <figure>
<img src="https://cdn.sanity.io/images/9zkvur1x/production/4f06f83a5288bc7a7d9140c8f5e9b6fc24660757-5953x3200.jpg?w=600" alt="Graph depicting client machine talking to server machine with a protocol that works like a restaurant menu">
      <figcaption>Client/server visualization </figcaption>
    </figure>

        <figure>
<img src="https://cdn.sanity.io/images/9zkvur1x/production/d5e1fc5bb9f846f1c6119afebb7e0d5b611e5b6e-1488x800.png?w=600" alt="A pixelized jellyfish in an aquarium">
      <figcaption>3D Pixel Jellyfish</figcaption>
    </figure>


</div>
</article>

 <script> 

function activateAnimation() {
  let element = document.getElementById("galleryElement");
  element.classList.toggle("running");

  console.log("hej");

}


  </script>